<div class='cover-body'>
  <div class='top'>
    <% if (theme.cover.logo) { %>
      <img no-lazy class='logo' src='<%- url_for(theme.cover.logo) %>'/>
    <% } %>
    <% if (theme.cover.title) { %>
      <p class="title"><%- theme.cover.title ? theme.cover.title : config.title %></p>
    <% } %>
    <% if (theme.cover.subtitle) { %>
      <p class="subtitle"><%- theme.cover.subtitle%></p>
    <% } %>
<!-- 封面滚动字体 -->
<br>
<div id="binft"></div> 
<script>
    var binft = function (r) {
      function t() {
        return b[Math.floor(Math.random() * b.length)]
      }  
      function e() {
        return String.fromCharCode(94 * Math.random() + 33)
      }
      function n(r) {
        for (var n = document.createDocumentFragment(), i = 0; r > i; i++) {
          var l = document.createElement("span");
          l.textContent = e(), l.style.color = t(), n.appendChild(l)
        }
        return n
      }
      function i() {
        var t = o[c.skillI];
        c.step ? c.step-- : (c.step = g, c.prefixP < l.length ? (c.prefixP >= 0 && (c.text += l[c.prefixP]), c.prefixP++) : "forward" === c.direction ? c.skillP < t.length ? (c.text += t[c.skillP], c.skillP++) : c.delay ? c.delay-- : (c.direction = "backward", c.delay = a) : c.skillP > 0 ? (c.text = c.text.slice(0, -1), c.skillP--) : (c.skillI = (c.skillI + 1) % o.length, c.direction = "forward")), r.textContent = c.text, r.appendChild(n(c.prefixP < l.length ? Math.min(s, s + c.prefixP) : Math.min(s, t.length - c.skillP))), setTimeout(i, d)
      }
      var l = "",
      o = ["开辟鸿蒙，谁为情种？都只为风月情浓。——曹雪芹《红楼梦引子》","衣带渐宽终不悔，为伊消得人憔悴。———柳永《凤栖梧》","山有木兮木有枝，心悦君兮君不知。——纳兰性德《木兰词·拟古决绝词柬友》","落红不是无情物，化作春泥更护花。——龚自珍《己亥杂诗》","相思相见知何日？此时此夜难为情。——李白《三五七言》","曾经沧海难为水，除却巫山不是云。——元稹《离思五首其四》","凄凉别後两应同，最是不胜清怨月明中。——纳兰性德《虞美人》","身无彩凤双飞翼，心有灵犀一点通。——李商隐《无题》","十年生死两茫茫，不思量，自难忘，千里孤坟，无处话凄凉。——苏轼《江城子》","相思一夜情多少，地角天涯未是长。——张仲素《燕子楼》","落花人独立，微雨燕双飞。——晏几道《临江仙二首其二》","愿我如星君如月，夜夜流光相皎洁。——范成大《车遥遥篇》","鸿雁在云鱼在水，惆怅此情难寄.——晏殊《清平乐二首其二》","欲寄彩笺兼尺素，山长水阔知何处。——晏殊《鹊踏枝》"].map(function (r) {
      return r + ""
      }),
      a = 2,
      g = 1,
      s = 3,
      d = 75,
      b = ["rgb(110,64,170)", "rgb(150,61,179)", "rgb(191,60,175)", "rgb(228,65,157)", "rgb(254,75,131)", "rgb(255,94,99)", "rgb(255,120,71)", "rgb(251,150,51)", "rgb(226,183,47)", "rgb(198,214,60)", "rgb(175,240,91)", "rgb(127,246,88)", "rgb(82,246,103)", "rgb(48,239,130)", "rgb(29,223,163)", "rgb(26,199,194)", "rgb(35,171,216)", "rgb(54,140,225)", "rgb(76,110,219)", "rgb(96,84,200)"],
      c = {
        text: "",
        prefixP: -s,
        skillI: 0,
        skillP: 0,
        direction: "forward",
        delay: a,
        step: g
      };
      i()
      };
      binft(document.getElementById('binft'));
  </script>
  </div>
  <div class='bottom'>
    <div class='menu navigation'>
      <div class='list-h'>
        <% if (theme.cover.features) { %>
          <% (theme.cover.features || []).forEach(function(value){ %>
            <a href="<%= url_for(value.url) %>"
              <% if (value.rel) { %>
                rel="<%- value.rel %>"
              <% } %>
              <% if (value.target) { %>
                target="<%- value.target %>"
              <% } %>
              active-action="action-<%= url_for(value.url).replace(/\/|%|\./g, "")?url_for(value.url).replace(/\/|%|\./g, ""):"home" %>">
              <% if (value.img) { %><img src='<%= value.img %>'><% } else if (value.icon) { %><i class='<%= value.icon %> fa-fw'></i><% } %><p><%- value.name %></p>
            </a>
          <%})%>
        <% } %>
      </div>
    </div>
  </div>
</div>
